<div class="drivingLicenseCatWrapper">
    <div class="row">
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('A')"
        [ngClass]="{ selected: isDrivingCategorySelected('A') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/A.png"
          alt="A"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('A1')"
        [ngClass]="{ selected: isDrivingCategorySelected('A1') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/A1.png"
          alt="A1"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('B')"
        [ngClass]="{ selected: isDrivingCategorySelected('B') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/B.png"
          alt="B"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('B1')"
        [ngClass]="{ selected: isDrivingCategorySelected('B1') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/B1.png"
          alt="B1"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('BE')"
        [ngClass]="{ selected: isDrivingCategorySelected('BE') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/BE.png"
          alt="BE"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('C')"
        [ngClass]="{ selected: isDrivingCategorySelected('C') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/C.png"
          alt="C"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('C1')"
        [ngClass]="{ selected: isDrivingCategorySelected('C1') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/C1.png"
          alt="C1"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('C1E')"
        [ngClass]="{ selected: isDrivingCategorySelected('C1E') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/C1E.png"
          alt="C1E"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('CE')"
        [ngClass]="{ selected: isDrivingCategorySelected('CE') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/CE.png"
          alt="CE"
        />
      </div>
    </div>
    <div class="row">
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('D')"
        [ngClass]="{ selected: isDrivingCategorySelected('D') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/D.png"
          alt="D"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('D1')"
        [ngClass]="{ selected: isDrivingCategorySelected('D1') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/D1.png"
          alt="D1"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('D1E')"
        [ngClass]="{ selected: isDrivingCategorySelected('D1E') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/D1E.png"
          alt="D1E"
        />
      </div>
      <div
        class="license-item low-scale"
        (click)="drivingCategoryClicked('DE')"
        [ngClass]="{ selected: isDrivingCategorySelected('DE') }"
      >
        <img
          src="../../../assets/DrivingLicenseCategories/DE.png"
          alt="DE"
        />
      </div>
    </div>
  </div>