<div class="fleets-page-wrapper">
  <div class="actions">
    <div class="search-wrapper">
      <input
        id="filter-text-box"
        (input)="inputListener()"
        class="search"
        type="text"
        placeholder="Search"
      />
      <button
        class="rlow-scale"
        [ngClass]="{ disabled: selectedRow == null }"
        (click)="onRemoveSelected()"
        *ngIf="hasAccess('write:vehicles')"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
      <button
        *ngIf="hasAccess('write:vehicles')"
        class="low-scale"
        [ngClass]="{ disabled: selectedRow == null }"
        (click)="editRow()"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <button
      *ngIf="hasAccess('write:vehicles')"
      class="add-vehicle-wrapper"
      (click)="addVehicle()"
    >
      <mat-icon>control_point</mat-icon>Add Vehicle
    </button>
  </div>

  <ag-grid-angular
    [rowData]="vehicles"
    [columnDefs]="vehilcesColumns"
    [rowSelection]="'single'"
    class="ag-theme-quartz"
    style="height: 600px"
    (gridReady)="onGridReady($event)"
    (rowClicked)="onRowClicked()"
  />
</div>
