@import 'src/themes/variables.scss';

.actions {
    display: flex;
    place-content: flex-end;
    padding-bottom: 20px;
    justify-content: space-between;

    .search {
        box-shadow: $box_shadow;
    }

    .search-wrapper {
        display: flex;
        gap: 20px;
    }

    button.disabled {
        background: $gray_color;
        pointer-events: none;
    }
}

.add-vehicle-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.warning {
    background-color: rgb(255 0 0 / 40%) !important;
}
