@import 'src/themes/variables.scss';

.notifications-wrapper {
    position: absolute;
    background: $white_color;
    color: $black_color;
    padding: 20px 15px;
    top: 70px;
    right: 85px;
    border-radius: 12px;
    box-shadow: $box_shadow;

    .header {
        display: flex;
        justify-content: space-between;
    }

    .notifications-body {
        max-height: 300px;
        overflow: auto;

        .notification-element {
            display: flex;
            gap: 10px;
            padding-bottom: 4px;
        }
    }
}

.display-none {
    display: none;
}