@import 'src/themes/variables.scss';

.login-card {
    max-width: 400px;
    border-radius: 12px;
    box-shadow: $box_shadow;
  }

  mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }