//  ===== START DARK MODE ===== //
$bgColor_light: white;
$bgColor_dark: #1e1e1e;

$textColor_light: #1e1e1e;
$textColor_dark: white;

$borderColor_light: #1e1e1e;
$borderColor_dark: white;
//  ===== END DARK MODE ===== //

$primary_color: #6785C1;

$black_color: #1e1e1e;

$white_color: #ffffff;

$gray_color: #5a5a5a;

$box_shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5);