<div (click)="onCancel()" class="backdrop"></div>
<dialog open>
  <h2 class="modal-title">
    {{
      isEmployeeUpdating
        ? "Edit " + employee.firstName + " " + employee.lastName
        : "Add Employee"
    }}
  </h2>
  <hr />
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
    <div class="form-wrapper">
      <div class="row">
        <div class="form-item">
          <label for="firstName">First Name</label>
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            placeholder="Enter First Name"
          />
          <div
            *ngIf="
              modalForm.get('firstName')?.invalid &&
              modalForm.get('firstName')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('firstName')?.hasError('required')"
              >First Name is required.</small
            >
          </div>
        </div>

        <div class="form-item">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            placeholder="Enter Last name"
          />
          <div
            *ngIf="
              modalForm.get('lastName')?.invalid &&
              modalForm.get('lastName')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('lastName')?.hasError('required')"
              >Last Name is required.</small
            >
          </div>
        </div>

        <div class="form-item">
          <label for="cnp">CNP (ex. 5110102441483)</label>
          <input
            type="text"
            id="cnp"
            formControlName="cnp"
            placeholder="Enter CNP"
          />
          <div
            *ngIf="
              modalForm.get('cnp')?.invalid && modalForm.get('cnp')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('cnp')?.hasError('required')"
              >CNP is required.</small
            >
            <small
              class="error-message"
              *ngIf="modalForm.get('cnp')?.hasError('invalidCNP')"
              >Invalid CNP.</small
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-item">
          <label for="email">Email</label>
          <input type="text" id="email" formControlName="email" placeholder="Enter Email"/>
          <div
            *ngIf="
              modalForm.get('email')?.invalid && modalForm.get('email')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('email')?.hasError('required')"
              >Email is required.</small
            >
            <small
              class="error-message"
              *ngIf="modalForm.get('email')?.hasError('email')"
              >Please enter a valid email address.</small
            >
          </div>
        </div>
        <div class="form-item">
          <label for="phone">Phone Number (ex. 0770123456)</label>
          <input type="text" id="phone" formControlName="phone" placeholder="Enter Phone Number"/>
          <div
            *ngIf="
              modalForm.get('phone')?.invalid && modalForm.get('phone')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('phone')?.hasError('required')"
              >Phone Numberis required.</small
            >
          </div>
        </div>

        <div class="form-item">
          <label for="jobDepartment">Job Department</label>
          <select id="jobDepartment" formControlName="jobDepartment">
            <option value="">Select A Job Department</option>
            <option
              *ngFor="let department of jobDepartments"
              [value]="department"
            >
              {{ department }}
            </option>
          </select>
          <div
            *ngIf="
              modalForm.get('jobDepartment')?.invalid &&
              modalForm.get('jobDepartment')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="modalForm.get('jobDepartment')?.hasError('required')"
              >Job Department is required.</small
            >
          </div>
        </div>

      </div>

      <div class="row">

        <div class="form-item">
          <label for="drivingLicenseExDate">License Exp. Date</label>
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input
              type="text"
              id="drivingLicenseExDate"
              formControlName="drivingLicenseExDate"
              matInput
              [matDatepicker]="picker"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div
            *ngIf="
              modalForm.get('drivingLicenseExDate')?.invalid &&
              modalForm.get('drivingLicenseExDate')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="
                modalForm.get('drivingLicenseExDate')?.hasError('required')
              "
              >Driving License Expiration Date is required.</small
            >
          </div>
        </div>

      </div>

      <div class="row">
        <div class="form-item align-items-center">
          <label class="align-self-center" for="drivingLicenseCategories"
            >Driving License Categories (Select from below)</label
          >
          <div
            class="align-self-center"
            *ngIf="
              modalForm.get('drivingLicenseCategories')?.invalid &&
              modalForm.get('drivingLicenseCategories')?.touched
            "
          >
            <small
              class="error-message"
              *ngIf="
                modalForm.get('drivingLicenseCategories')?.hasError('required')
              "
              >At least on Driving License Category is required</small
            >
          </div>
          <br />

          
          <app-driving-license-categories 
          [drivingLicenseCategories]="employee.drivingLicenseCategories"
          (onCategoryClicked)="drivingCategoryClicked($event)"
          />


        </div>
      </div>

      <br />

      <div class="emergency-wrapper">
        <div
          class="sos-icons-wrapper"
          (click)="isSOSDivHidden = !isSOSDivHidden"
        >
          <mat-icon class="low-scale sos-icons-action">sos</mat-icon>
          <mat-icon [ngClass]="{ hidden: !isSOSDivHidden }" class="low-scale"
            >expand_more</mat-icon
          >
          <mat-icon [ngClass]="{ hidden: isSOSDivHidden }" class="low-scale"
            >expand_less</mat-icon
          >
        </div>
        <div class="row" [ngClass]="{ hidden: isSOSDivHidden }">
          <div class="form-item">
            <label for="emergencyContactName"
              >Emergency Contact Name (Optional)</label
            >
            <input
              type="text"
              id="emergencyContactName"
              formControlName="emergencyContactName"
            />
          </div>
          <div class="form-item">
            <label for="emergencyContactPhoneNumber"
              >Emergency Contact Phone (Optional)</label
            >
            <input
              type="text"
              id="emergencyContactPhoneNumber"
              formControlName="emergencyContactPhoneNumber"
            />
          </div>
        </div>
      </div>
    </div>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">
        {{ isEmployeeUpdating ? "Update" : "Add" }}
      </button>
    </p>
  </form>
</dialog>
