@import 'src/themes/variables.scss';

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
  }

  hr {
    margin-bottom: 40px;
  }

  .emergency-wrapper {
    background: rgb(255 0 0 / 40%);
    padding: 10px;
    border-radius: 6px;
  }

  .sos-icons-action {
    font-size: 40px;
    width: 40px;
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .sos-icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .modal-title {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
  }
  
  dialog {
    background-color: $white_color;
    border-radius: 6px;
    border: none;
    box-shadow: $box_shadow;
    overflow: hidden;
    padding: 1rem;
    top: 2rem;
    z-index: 99;
  }
  
  h2 {
    margin: 0;
    color: $black_color;
  }
  
  textarea {
    width: 100%;
    font: inherit;
    padding: 0.15rem 0.25rem;
    border-radius: 4px;
    border: 1px solid $black_color;
    background-color: $white_color;
  }
  
  .actions {
    margin: 1rem 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  button {
    font: inherit;
    cursor: pointer;
    border: none;
    padding: 0.35rem 1.25rem;
    border-radius: 4px;
  }
  
  button[type="button"] {
    color: $white_color;
  }
  
  button[type="button"]:hover,
  button[type="button"]:active {
    color: $white_color;
  }
  
  button[type="submit"] {
    background-color: $primary_color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button[type="submit"]:active {
    background-color: $primary_color;
    box-shadow: $box_shadow;
  }

  .row {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
  }

  p {
    width: 100%;
  }

  .form-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;    
    width: 100%;
  }

  .error-message {
    color: red;
  }

  .label-wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .hidden {
    display: none;
  }
  
  @media (min-width: 768px) {
    dialog {
      padding: 2rem;
    }
  }
