@use '@angular/material' as mat;
@include mat.core();
@import './themes/variables.scss';

// mixin that enables css variables in light mode
@mixin lighten() {
  --bgColor: #{$bgColor_light};
  --textColor: #{$textColor_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --bgColor: #{$bgColor_dark};
  --textColor: #{$textColor_dark};
}

body.dark {
    @include darken();
  }
  body.light {
    @include lighten();
  }

body {
    background: var(--bgColor);;
}

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h3 {
    margin: 0 !important;
}

span {
    color: $black_color;
}

button {
    cursor: pointer;
    background: $primary_color;
    color: $white_color;
    border: none;
    border-radius: 12px;
    padding: 12px 24px 12px 24px;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.low-scale:hover {
    cursor: pointer !important;
    transform: scale(1.1);
}

select {
    width: 100%;
    height: 30px;
    border-radius: 6px;
}

.flex-center {
    justify-content: center;
    display: flex;
}

label {
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: 600;
}

input, select, textarea {
    height: auto;
    border: 2px solid $black_color;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    width: -webkit-fill-available;
    padding: 2px 4px;
}

ag-grid-angular {
    box-shadow: $box_shadow;
}

.pointer-events-none {
 pointer-events: none;   
}

.align-items-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.hidden {
    display: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
