.modal {
  z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal-title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
  }

  .modal-body {
    margin-bottom: 10px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
  }

  .error-icon, .question-icon, .warning-icon, .error-message {
    color: red;
  }

  .info-icon {
    color: #6785C1;
  }

  .close-button {
    display: flex;
    justify-content: flex-end;
    
    span {
      cursor: pointer;
      font-size: 28px;
    }
  }

  .row {
    .form-item {
      display: flex;
      flex-direction: column;
    }

    .document-img {
      width: 60px;
      padding: 6px;

      &.selected {
        border: 2px solid black;
        border-radius: 6px;
      }
    }

    .icons-wrapper {
      padding: 20px 0;
    }
  }